table {
  font: inherit;
  color: inherit;
  width: 100%;
  border-radius: var(--border-radius-small);
  border-collapse: collapse;
  box-shadow: 2px 2px 7px hsla(var(--color-shadow), .2);
  overflow: hidden;
}

thead {
  font-variation-settings: 'wght' 500;
  background-color: hsl(var(--color-primary));
  transition: background-color .2s ease-in-out;
}

tbody > tr:nth-of-type(odd) {
  background-color: hsla(var(--color-foreground), .6);
}
tbody > tr:nth-of-type(even) {
  background-color: hsla(var(--color-foreground), .9);
}

tr {
  transition: background-color .2s ease-in-out;
}

th {
  text-align: left;
}

th,
td {
  padding: .9em;
}

.table--small {
  font-size: .8em;
}
