.list {
  padding-left: 0;
  border-radius: var(--border-radius-small);
  box-shadow: 2px 2px 7px hsla(var(--color-shadow), .2);
  overflow: hidden;
}

.list > li {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-areas: 
    'info info info'
    'details details details';
}
.list > li:not(.list__header):nth-of-type(odd) {
  background-color: hsla(var(--color-foreground), .6);
}
.list > li:not(.list__header):nth-of-type(even) {
  background-color: hsla(var(--color-foreground), .9);
}

.list > li > * {
  padding: .9rem;
}

.list__header {
  font-variation-settings: 'wght' 500;
  background-color: hsl(var(--color-primary));
}
