/* snowpack-plugin-relative-css-urls requires the url() function */
@import url('./css/_grid.css');
@import url('./css/_anchor.css');
@import url('./css/_form.css');
@import url('./css/_table.css');
@import url('./css/_list.css');
@import url('./css/_icon.css');
@import url('./css/utils/_visibility.css');

:root {
  /**
   * Usage: hsl(var(--color-background)), hsla(var(--color-background), .5) 
   * Alternate colors are used for theming.
   */
  --color-background: 51, 32%, 91%;
  --color-background-alternate: 203, 90%, 10%;
  --color-foreground: 0, 0%, 100%;
  --color-foreground-alternate: 201, 87%, 16%;
  --color-primary: 51, 100%, 50%;
  --color-primary-alternate: 150, 80%, 30%;
  --color-text: 0, 0%, 0%;
  --color-text-alternate: 0, 0%, 100%;
  --color-anchor: 30, 80%, 50%;
  --color-anchor-alternate: 150, 80%, 45%;
  --color-shadow: 0, 0%, 0%;
  --color-shadow-alternate: 0, 0%, 0%;
  --color-success: 150, 80%, 40%;
  --color-error: 0, 70%, 50%;
  --color-info: 37, 100%, 50%;

  --border-radius-base: 10px;
  --border-radius-small: var(--border-radius-base);

  --gutter-base: 1rem;
  --gutter-small: var(--gutter-base);

  --feature-table-font-size: .65rem;
}

@media (min-width: 640px) {
  :root {
    --feature-table-font-size: 1rem;
  }
}

@font-face {
  font-family: 'roboto';
  src: url('/static/fonts/roboto-slab-variable.ttf') format('truetype');
}

* {
  font-weight: initial; /* Using font-variation-settings: 'wght' 300; instead */
  word-break: break-word;
  box-sizing: border-box;
}

body {
  font-family: 'roboto';
  font-variation-settings: 'wght' 300;
  color: hsl(var(--color-text));
  background-color: hsl(var(--color-background));
  margin: 0;
  transition: all .2s ease-in-out;
  transition-property: color, background-color;
}

:target {
  scroll-snap-margin-top: 100px; /* Safari */
  scroll-margin-top: 100px;
}
