/* .header is basically faking a thead so we can get position: sticky to work correctly */
.header {
  font-size: var(--feature-table-font-size, 1rem);
  font-variation-settings: 'wght' 500;
  background-color: hsl(var(--color-primary));
  box-shadow: 2px 2px 7px hsla(var(--color-shadow), .2);
  position: sticky;
  top: 0;
  will-change: transform;
  transition: background-color .2s ease-in-out;
}

.header__row {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
}

.header__data {
  padding: .9em;
}

.table {
  font-size: var(--feature-table-font-size, 1rem);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: var(--gutter-small);
}

.table > tbody > tr {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-areas: 
    'info info info'
    'details details details';
}
