.button {
  white-space: nowrap;
  line-height: 1;
  text-align: right;
  direction: rtl; /* Overflow text to left instead of right */
  color: hsl(var(--color-text));
  background-color: hsl(var(--color-background));
  width: 3em;
  height: 3em;
  padding: 0;
  padding-right: 1em;
  padding-left: 1em;
  border: 1px solid hsl(var(--color-text));
  border-radius: 1.5em;
  appearance: none;
  overflow: hidden;
  filter: drop-shadow(1px 1px 2px hsla(var(--color-shadow), .5));
  transition: all .2s ease-in-out;
}
@media (pointer: fine) {
  .button:hover,
  .button:focus {
    /* Note to self: https://css-tricks.com/the-focus-visible-trick/ */
    width: 10.3em; /* Magic number */
  }
}

.button :global(.icon) {
  margin-left: .7em;
}

.button__inner {
  direction: ltr; /* Reset direction */
  display: inline-block; /* Block required by 'direction' */
}

.button__text {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
@media (pointer: fine) {
  .button:hover .button__text,
  .button:focus .button__text {
    opacity: 1;
  }
}
